@use "./variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    padding: 70px 20px 50px;
    background-color: var(--green-200);
    font-family: Karla;
}

input[type='text'], textarea, button {
    font-family: Karla;
    font-size: 1rem;
    font-weight: 400;
}

input[type='text'], textarea {
    width: 100%;
    color: var(--gray-900);
    border: 1px solid var(--gray-500);
    border-radius: 5px;
}

input[type='text']:focus-visible, textarea:focus-visible, .form__radioItem:focus-visible {
    outline: 1.5px solid var(--green-600);
}
